body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.842), #0c6203); /* top to bottom gradient */
    color: white;
    /*font-family: 'Arial', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

.celebration-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 5vw; /* Responsive font size */
    margin-bottom: 20px;
    text-align: center;
    color: #d9f010; /* Optional: a deeper green to match nature vibe */
}

.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.celebration-image {
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.time {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1.2rem;
    text-align: center;
    min-width: 80px;
}

.time span {
    display: block;
    font-size: 0.75rem;
    margin-top: 5px;
}